html{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #0D2137;
}

.container{
    background-color: #fff;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

.container__title {
    background-color: #2E77AE;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 24px 24px 0 0;
    color: #fff;
    padding: 16px;
}

.container_text {
    font-size: 1rem;
    margin:20px;
    text-align: left;
}

.container__image {
    border-radius: 12px;
    margin: 20px;
    width: 300px;
}